DagVisitor
-e git+https://github.com/phanrahan/magma#egg=magma-lang
-e git+https://github.com/phanrahan/peak.git#egg=peak
-e git+https://github.com/leonardt/fault#egg=fault
-e git+https://github.com/phanrahan/mantle#egg=mantle
-e git+https://github.com/StanfordAHA/lassen.git#egg=lassen
-e git+https://github.com/StanfordAHA/lake#egg=lake-aha
-e git+https://github.com/leonardt/hwtypes#egg=hwtypes
-e git+https://github.com/jack-melchert/peak_generator#egg=peak_gen
delegator.py
